
<ul class="list-reset mx-8 my-10">
  {{#each postsToShow as |post|}}
    <li>
      <Post
        @postClicked2={{action @postClicked post.id}}
        @title={{post.title}}
        @id={{post.id}}
      />
    </li>
  {{/each}}
</ul>
